---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import LadingHeater from "../components/LadingHeater.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
import ChargeSectionX from "../components/ChargeSectionX.astro";
import ChargeSection3 from "../components/ChargeSection3.astro";
import Cybertruck from "../components/Cybertruck.astro";
---

<Layout>
  <LadingHeater />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ChargeSection />
      <ChargeSectionX />
      <ChargeSection3 />
      <Cybertruck />
    </div>
  </main>
</Layout>
