<section
      class="bg-black h-screen w-screen text-center relative overflow-hidden"
    >
      <div class="z-30 relative h-full flex flex-col">
        <header class="flex flex-col">
          <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
          <p class="text-black text-sm underline">Make an appoiment today</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end  pb-20">
			<div class="flex flex-col gap-x-4">
				<a class=" border-white border-[3px] text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#"> Test Order Now </a>
                <a class=" border-white border-[3px] text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#"> Test Demo Drive </a>

			</div>
        </footer>
      </div>
      <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
          class="object-center object-cover h-full w-full"
          autoplay
          muted
          loop
          src="/video.webm"></video>
      </div>
    </section>