---
import Logo from "./Logo.astro";
---

<header
  id="lading-header"
  class="py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <div class="flex flex-grow basis-0">
    <Logo />
  </div>
  <nav>
    <ul
      class="[&>li>a]:transition-colors [&>li>a]:duration-500 flex text-sm [&>li>a]: font-medium [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:text-current"
    >
      <li><a href="https://www.tesla.com/models">Model S</a></li>
      <li><a href="https://www.tesla.com/models">Model 3</a></li>
      <li><a href="https://www.tesla.com/models">Model X</a></li>
      <li><a href="https://www.tesla.com/models">Model Y</a></li>
      <li><a href="https://www.tesla.com/models">Cybertruck</a></li>
      <li><a href="https://www.tesla.com/models">New Model Y</a></li>
    </ul>
  </nav>
  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="[&>li>a]:transition-colors [&>li>a]:duration-500 flex [&>li>a]: font-medium text-sm [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:text-current"
    >
      <li><a href="https://www.tesla.com/support#contact">Support</a></li>
      <li><a href="https://shop.tesla.com/">Shop</a></li>
      <li>
        <a
          href="https://auth.tesla.com/en_us/oauth2/v1/authorize?redirect_uri=https%3A%2F%2Fwww.tesla.com%2Fteslaaccount%2Fowner-xp%2Fauth%2Fcallback&response_type=code&client_id=ownership&scope=offline_access%20openid%20ou_code%20email%20phone&audience=https%3A%2F%2Fownership.tesla.com%2F&locale=en-US"
          >Account</a
        >
      </li>
      <li><a href="https://www.tesla.com/">Menu</a></li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`absolute bg=black/5 backdrop-blur-lg rounded
   left-[var(--left)] top[var(--top)]
    w-[var(--width)] h-[var(--height)]
    transition-all duration-300
    ease-in-out opacity-0 -z-10
    
    
    `}
  >
  </div>
</header>
<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
<script>
  const $header = document.querySelector("#lading-header") as HTMLElement;
  const observerOptions = {
    root: null,
    rootMargin: "0px",
    thereshold: 0.9,
  };
  const observer = new IntersectionObserver((entrie) => {
    entrie.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color") || "";
        $header.style.color = color;
      }
    });
  }, observerOptions);
  const $sections = document.querySelectorAll(".lading-section");
  $sections.forEach((section) => observer.observe(section));
</script>
